.main-header {
  padding: 1.5em 0;
}

#site-navigation {

  ul.menu-wrapper {

    @media(max-width: 481px) {
      height: max-content;
      width: 260px;
    }

    > li.menu-item {
      
      @media(max-width: 481px) {
        
        &:not(:last-child) {
          border-bottom: solid 1px #979696;
        }
      }
    }

    li.menu-item {

      > a {
        text-transform: uppercase;
        font-size: 0.65em;
        text-decoration: none;
        border-bottom: none;
        box-shadow: none;

        &:focus {
          background: none;
          color: black;
        }

        @media(max-width: 481px) {
          text-align: center;
          font-size: 1em;
          letter-spacing: 2px;
          padding: 1.2em 0;
        }
      }

      &:hover,
      &.current-menu-item {

        > a {
          color: $accents-color;
        }

        @media(max-width: 481px) {

          > a {
            color: #7fccf7;
          }
        }
      }
    }
  }
}

@media(max-width: 481px) {

  .primary-navigation-open {

    #site-navigation {

      .menu-button-container,
      .primary-menu-container {
        background: #e8e6e6;
      }
    }
  }
  
}