
#yith-ywrq-table-list {

  thead tr th:first-child,
  tbody tr td:first-child {
    display: none;
  }

  tr {

    td {
      vertical-align: top;

      &.product-name {

        > a {
          color: black;
          font-size: 1.5em;
          border-bottom: solid 1px;
          padding-bottom: 2px;
        }
      }
    }
  }

  .__custom-remove-item {
    // :( sorry
    font-weight: normal !important;
    width: auto !important;
    height: auto !important;
    font-size: 11px !important;
    border: none !important;
    border-radius: 3px !important;
    background: #ff4d4f !important;
    color: white !important;
    line-height: normal !important;
    padding: 5px 8px !important;
    display: inline-block !important;
    margin-left: 10px !important;

    &:hover {
      background-color: red !important;
    }
  }
}

form#yith-ywraq-form {

  .update-list-wrapper {

    input[type=submit] {
      display: none;
    }
  }
}

.yith-ywraq-mail-form-wrapper {
  background: none;
  padding: 0 !important;
}

form#yith-ywraq-default-form {

  label {
    font-size: 1em;
  }

  p.form-row {
    padding: 0;
  }

  input[type=submit] {
    float: right;
    font-size: 1em;
  }
}

.ant-alert {

  .ant-alert-close-icon {
    background: none !important;
  }
}

.ywraq-view-quote-wrapper table.shop_table.order_details {
  background: none;
  border: solid black;
  border-width: 0 1px 0 1px;

  th, td {
    padding: 15px !important;
  }

  thead {

    tr {

      th {
        display: table-cell !important;
        text-align: left;
      }
    }
  }

  tbody {

    tr.order_item {
      vertical-align: top;

      td.product-name {

        .product-name-item {
          width: 100%;

          > a {
            font-size: 1em;
            color: black;
            font-weight: bold;
            border-bottom: solid 1px;
          }
        }
      }
    }
  }

  tfoot {
    border-top: solid 1px black;
    border-bottom: solid 1px black;

    th {
      text-align: right;
    }
    .ywraq-buttons {

      a.button {
        border-radius: 1px;
        padding: 10px;
        border: none !important;
        font-size: 18px;
        text-transform: capitalize;
      }
    }
  }
}

.ywraq-view-quote-wrapper table.shop_table.order_details .product-name {
  align-items: flex-start;
}

.woocommerce-account .woocommerce-MyAccount-content p {
  font-size: 1rem;
}

.woocommerce-account label {
  font-size: 1rem !important;
  margin-bottom: .5rem !important;
}

.woocommerce-account table.account-orders-table {

  th, td {
    padding: 15px;
  }

  thead {
    border-top: solid 1px black;
  }

  .woocommerce-orders-table__cell-order-actions {

    > a.button {
      border-color: black;
    }
  }
}

.woocommerce-MyAccount-navigation {

  ul {
    position: sticky;
    top: 60px;

    li.woocommerce-MyAccount-navigation-link {
      margin: 0 !important;
      line-height: normal;
      display: flex;
      width: 100%; 
      padding: 10px 0; 

      > a {
        font-size: 1.3rem;
      }
    }
  }
}

.ywraq-additional-information {
  

  > div {
    border-radius: 1px;
    border: 1px solid #dedede;
    background: #FAFAFA;
  }
}

.woocommerce-account .woocommerce-MyAccount-content p:first-of-type {
  margin-bottom: 0 !important;
}

table.shop_table.shop_table_responsive.my_account_quotes.my_account_orders {

  thead {

    th {
      text-align: left;

      &.total {
        text-align: right;
      }
    }
  }

  tbody {

    td.quotes-total {
      text-align: right;
    }
  }
}

.woocommerce-form-coupon-toggle {

  a.showcoupon {
    border-bottom: solid 1px;
  }
}