html, body {
  font-family: $body-font;
  color: $body-color;
  font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $heading-color;
}

p {
  margin-bottom: 1.5em;
}   

.site-container {
  width: $site-width;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

.children-center-by-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

input.ant-input {
  border-radius: 1px;
  border-width: 1px;
  padding: 3px 11px;
  border-color: #d9d9d9;
  box-shadow: none !important;
  outline: none !important;
}

#main .woocommerce {
  max-width: 1600px;
  padding: 0 6vw;
  margin: 0 auto;
}