html, body {
  font-family: $body-font;
  color: $body-color;
  font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $heading-color;
}

p {
  margin-bottom: 1.5em;
}   

.site-container {
  width: $site-width;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

.children-center-by-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

input.ant-input {
  border-radius: 1px;
  border-width: 1px;
  padding: 3px 11px;
  border-color: #d9d9d9;
  box-shadow: none !important;
  outline: none !important;
}

#main .woocommerce {
  max-width: 1600px;
  padding: 0 6vw;
  margin: 0 auto;
}

#yith-ywrq-table-list {

  thead tr th:first-child,
  tbody tr td:first-child {
    display: none;
  }

  tr {

    td {
      vertical-align: top;

      &.product-name {

        > a {
          color: black;
          font-size: 1.5em;
          border-bottom: solid 1px;
          padding-bottom: 2px;
        }
      }
    }
  }

  .__custom-remove-item {
    // :( sorry
    font-weight: normal !important;
    width: auto !important;
    height: auto !important;
    font-size: 11px !important;
    border: none !important;
    border-radius: 3px !important;
    background: #ff4d4f !important;
    color: white !important;
    line-height: normal !important;
    padding: 5px 8px !important;
    display: inline-block !important;
    margin-left: 10px !important;

    &:hover {
      background-color: red !important;
    }
  }
}

form#yith-ywraq-form {

  .update-list-wrapper {

    input[type=submit] {
      display: none;
    }
  }
}

.yith-ywraq-mail-form-wrapper {
  background: none;
  padding: 0 !important;
}

form#yith-ywraq-default-form {

  label {
    font-size: 1em;
  }

  p.form-row {
    padding: 0;
  }

  input[type=submit] {
    float: right;
    font-size: 1em;
  }
}

.ant-alert {

  .ant-alert-close-icon {
    background: none !important;
  }
}