html, body {
  font-family: $body-font;
  color: $body-color;
  font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $heading-color;
}

p {
  margin-bottom: 1.5em;
}   

.site-container {
  width: $site-width;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

.children-center-by-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

input.ant-input {
  border-radius: 1px;
  border-width: 1px;
  padding: 3px 11px;
  border-color: #d9d9d9;
  box-shadow: none !important;
  outline: none !important;
}

#main .woocommerce {
  max-width: 1600px;
  padding: 0 6vw;
  margin: 0 auto;
}

.woocommerce .woocommerce-cart-form .shop_table_responsive {
  border: solid black;
  border-width: 0 1px 0 1px;

  thead {
    border-top: solid 1px black;
  }

  td.product-name {

    > a {
      color: black;
      border-bottom: solid 1px black;
      font-weight: bold;
      margin-bottom: 0.5em;
      display: inline-block;
    }
  }

  button {
    font-size: 1rem;
  }

  input[name=coupon_code] {
    height: 48.5px;
  }
}

.cart_totals {

  .shop_table {
    border: solid;
    border-width: 0 1px 0 1px;
  }
}

a.remove:hover {
  background-color: black;
}

.woocommerce .content-area {
  width: 1200px;
  max-width: 100%;
}

#PRODUCT_PRICING_MODE_APP {
  margin-bottom: 10vw;
}