$heading-font: #{"var(--theme-heading-font)"} !default;
$body-font: #{"var(--theme-bdoy-font)"} !default;
$body-font-size: 17px !default;

$body-color: #{"var(--theme-body-color)"} !default;
$heading-color: #{"var(--theme-heading-color)"} !default;
$accents-color: #{"var(--theme-accents-color)"} !default;

$site-width: 980px !default;
